<div class="container"
     style="margin-top: 50px;">
  <div class="myProject">
    <div class="wysiwyg cpy-f">
      <h2 class="hdln-d headline"> Privacy Policy</h2>

      <p>Exerwise is committed to protecting and respecting your privacy.&nbsp;</p>
      <p>This Privacy Policy describes how we collect, use, protect and share information about you, as an individual,
        that we obtain when you access and use our Services (defined below), including when you register for and use the
        App, create a profile, submit information and updates about your condition, participate in contests or
        promotions, or submit questions or feedback in the United States. This privacy policy also governs the
        collection and use of information when you use any of our Apps, as a part of our Services, although we may
        provide additional notice and choice options within the App itself. In addition, this Privacy Policy applies to
        information that we obtain when you communicate or interact with us outside of the Services, including by
        e-mail, telephone and otherwise. We handle all information in compliance with applicable law and in a manner
        compliant with the Health Insurance Portability and Accountability Act of 1996 (“HIPAA”), where applicable. If
        you are located in the European Union, please <a
           href="https://signup.Exerwise-health.com/static/en/privacy/index.html">click here</a> to review our Privacy
        Notice for the E.U.</p>
      <p>For purposes of this Privacy Policy, the following defined terms mean:</p>
      <ul>
        <li>"App" refers to any downloadable application (including a mobile application) owned or operated by Exerwise.
          References to the "App" include any and all features, functionality, tools and content available on or through
          each such application.</li>
        <li>"Content" refers to any and all information, videos, text, photos and other content provided or made
          available by Exerwise on or through the Services, including information, videos, text, photos and other
          content relating to physical conditions and/or exercise regimens.</li>
        <!-- @*<li>"Exerwise" "we," or "us" refer to Exerwise Health Software Inc. and our officers, directors, employees,
          contractors and agents. To the extent applicable, they also refer to our affiliates, service providers and
          licensors, and their respective officers, directors, employees, contractors and agents.</li>*@ -->
        <li>"Services" refers, collectively, to any and all Websites, Apps and Content made available to you by
          Exerwise, including any related services and promotions, and any software and technology used to provide any
          of the foregoing.</li>
        <li>"Users" means any and all persons that access or use the Services. References to "access" and/or "use" of
          the Services (and any variations thereof) include the acts of accessing or browsing the Services, and
          accessing or using the Content.</li>
        <li>"Website" refers to any website owned or operated by Exerwise. References to the "Website" include any and
          all features, functionality, tools and content available on or through each such website.</li>
      </ul>
      <p>Please read this Privacy Policy carefully to understand how we will treat your information before you access or
        use our Services or communicate with us outside of the Services.</p>
      <p>BY ACCESSING OR USING OUR PLATFORM OR COMMUNICATING WITH US OUTSIDE OF THE PLATFORM, YOU ARE ACCEPTING AND
        CONSENTING TO THE PRACTICES DESCRIBED IN THIS PRIVACY POLICY, WHICH MAY BE UPDATED AND AMENDED FROM TIME TO
        TIME. IF YOU DO NOT AGREE TO THE TERMS OF THIS PRIVACY POLICY, YOU MUST NOT ACCESS OR USE OUR PLATFORM OR
        COMMUNICATE WITH US.</p>
      <h3 class="hdln-e">COMMUNICATIONS ABOUT YOUR HEALTH</h3>
      <p>By signing up for Exerwise’s Services, you consent for us to communicate with you about your health, progress,
        and the Services via email, push notification, mail, text message, or phone call. You have the right to restrict
        how we contact you by emailing <a href="mailto:sagarthapa811@gmail.com">sagarthapa811@gmail.com</a>.</p>
      <!-- <p>If you are receiving Exerwise’s services through your employer or employer’s health plan, we will not share
        identifiable information about your health and progress with your employer or employer’s health plan. We may
        send aggregated or de-identified information to your employer or employer health plan for billing purposes.
        Additionally, we may send identifiable information to a third party analytics provider to perform analysis on
        behalf of your employer or health plan.</p>
      <p>We may send personally identifiable health information to your provider or non-employer insurance plan if you
        are receiving Exerwise’s services through your healthcare provider, medical therapy provider, or non-employer
        insurance plan.</p> -->
      <h3 class="hdln-e">HOW WE COLLECT INFORMATION</h3>
      <h4 class="cpy-b">Information You Provide to Us</h4>
      <p>We collect and store information that you provide directly to us, including when you register for the App,
        create a profile, submit information and updates about your condition, when you update your e-mail preferences,
        respond to a survey, contact us with questions or comments, or provide other feedback.</p>
      <p>We will not ask for or request sensitive information such as government identifiers, or financial information,
        except in connection with payments. Please do not provide this information to us, including through e-mails,
        feedback forms or otherwise.</p>
      <h4 class="cpy-b">Information Collected While Using Our Services</h4>
      <p>We also collect and store certain technical information when you access, browse and use our Services. This
        technical information helps us operate our Services and provide access to you, and includes standard information
        about visits and system capabilities, such as:</p>
      <ul>
        <li>information about the device(s) you use to access our Services, including MAC address, IP address, browser
          type and version, location, time zone setting, browser plug-in types and versions, operating system and
          platform, device type, and device identifiers;</li>
        <li>information about your visits to the Services, including the full URL clickstream to, through, and from the
          Services (including date and time);</li>
        <li>information we need and use to facilitate your use of our Services (including to provide access to
          third-party websites and services), such as URL requests, destination IP addresses, or device configuration
          details;</li>
        <li>pages you view, Content you select to view, length of time viewing content; and</li>
        <li>page response times, download errors, length of visits to certain pages, page interaction information (such
          as scrolling, clicks, and mouse-overs), your engagement with certain variable/dynamic elements of a page and
          methods used to browse away from the page.</li>
        <li>We may also collect information using cookies and beacons. (See Cookies and Beacons below.)</li>
      </ul>
      <h4 class="cpy-b">Information Collected from Other Sources</h4>
      <p>On occasion, we may combine or compare data we have collected from you with information collected from other
        third-party sources and add it to the information you have provided.</p>
      <p>Third parties that are unaffiliated with us may also collect information about you, including tracking your
        browsing history, when you use our Services. We do not have control over these third-party collection practices
        and advise you to adjust the settings of your browsers or install plug-ins and add-ins if you wish to minimize
        these third-party collections.</p>
      <h4 class="cpy-b">Exerwise App</h4>
      <p>This app includes the functionality of video recording a user‘s exercise sessions. This feature will only be
        enabled after getting explicit consent from the user immediately before an exercise session by means of a
        dedicated save button. If you choose to record your exercise session, the video recording will not be saved
        unless save button is clicked. If you decide to allow the recording, please ensure that no other persons are
        visible in the caa frame or those persons also consent to this agreement.</p>
      <p>The video recordings will be processed to improve the functionality of the app. In particular, the following
        processing steps will occur:</p>
      <ul>
        <li>Review of the recordings by annotation of exercise state, movement characteristics, body pose, other body
          features, as well as environmental factors that might have an impact on body detection.</li>
        <li>Training of Machine Learning models for automatic detection of exercise state, movement characteristics,
          body pose, environmental factors, as well as other medical factors by connecting the video records to data
          collected within the app.</li>
        <li>We will save the video recordings for 3 years, we will not share the data with third parties, and we aim to
          anonymize the data as soon as possible. The data will be transferred to us in an encrypted way.</li>
      </ul>
      <h3 class="hdln-e">HOW INFORMATION MAY BE USED</h3>
      <p>We may use any of the information we collect to:</p>
      <ul>
        <li>allow us to operate our Services, including payment processing, administration, internal operations,
          troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
        <li>manage your access to our Services;</li>
        <li>send you information that enables you to use our Services;</li>
        <li>contact you directly about activity on your account;</li>
        <li>create reports for our affiliates, licensors, service providers and Users or prospective Users that may
          include aggregate information about the use of various aspects of the Services;</li>
        <li>comply with laws and regulations;</li>
        <li>carry out our obligations and enforce our rights arising from any contracts entered into between you and us,
          including billing and collection;</li>
        <li>notify you about changes to our Services;</li>
        <li>protect the integrity and maintain the security of our Services, including secured areas of the App or
          Website;</li>
        <li>in any other way that we describe when you provide the information; and</li>
        <li>for any other purpose for which you may provide consent.</li>
      </ul>
      <p>In some cases, how we treat and use information will depend on the type of information. Some of the information
        we collect through your use of our Services or communications with us, such as your name, address, phone number,
        e-mail address, or billing information associated with your account may personally identify you. We will treat
        this information as “Personally Identifiable Information.” We will also treat as Personally Identifiable
        Information any non-identifiable information that is combined with Personally Identifiable Information.</p>
      <p>We may use your information, including Personally Identifiable Information, to:</p>
      <ul>
        <li>respond to your requests, feedback or questions, including by telephone, text (SMS), or email;</li>
        <li>provide you with information about Content, products or services, from us or third parties, that may
          interest you; and</li>
        <li>send you e-mails about updates, information, or alerts regarding our Services.</li>
      </ul>
      <p>We may use non-Personally Identifiable Information to:</p>
      <ul>
        <li>evaluate and improve our Services and present content in the best way for you and for your device(s);</li>
        <li>serve advertisements on or through our Services; and</li>
        <li>measure or understand the effectiveness of advertising we serve to you and other Users like you, and to
          deliver relevant advertising to you and other Users like you.</li>
        <li>We may also combine technical information or non-Personally Identifiable Information about your use of our
          Services with similar information that we obtain from other Users to use in an aggregate or anonymous manner
          for similar purposes.</li>
      </ul>
      <h3 class="hdln-e">HOW INFORMATION MAY BE SHARED</h3>
      <p>We will not sell your Personally Identifiable Information or share your Personally Identifiable Information
        with third parties for the third parties’ own direct marketing purposes without your express consent. Please
        note that if you click on or otherwise interact with an advertisement on our Services, however, the advertiser
        may assume that you meet its target criteria, even though we have not shared your Personally Identifiable
        Information.</p>
      <p>We may share information, including Personally Identifiable Information, with our licensors, service providers
        and agents to the extent reasonably necessary to operate and provide our Services to you. For example, we use a
        third-party provider for e-mail and cannot communicate with you by e-mail without disclosing your e-mail address
        to our third-party e-mail provider. We do not permit these third parties to use any information we share for any
        purpose other than to support us and our efforts to operate and provide our Services to you.</p>
      <p>We may share any information, including Personally Identifiable Information with:</p>
      <ul>
        <li>our subsidiaries and affiliates;</li>
        <li>our service providers and subcontractors to the extent reasonably necessary to enable us to operate and
          provide our Services to you;</li>
        <li>a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution
          or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy,
          liquidation or similar proceeding, in which Personally Identifiable Information held by us about our Users is
          among the assets transferred;</li>
        <li>you, upon your written request; and</li>
        <li>other third parties with your express consent.</li>
      </ul>
      <p>We may also disclose your Personally Identifiable Information:</p>
      <ul>
        <li>to comply with any court order, law or legal process, including to respond to any government or regulatory
          request;</li>
        <li>to investigate potential unauthorized access or misuse of our Services or otherwise enforce our Terms of
          Service, Supplemental Terms (as defined below), or other agreements;</li>
        <li>to protect our assets or rights, including for billing and collection purposes;</li>
        <li>if we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Exerwise,
          our Users or others, including exchanging information with other companies and organizations for the purposes
          of fraud protection and credit risk reduction; and</li>
        <li>for any other purpose disclosed by us when you provide the information.</li>
      </ul>
      <p>In the event that we receive a request from a governmental entity to provide it with your Personally
        Identifiable Information, we will make reasonable attempts to notify you of such request, to the extent
        reasonably possible and legally permissible.</p>
      <p>We may share non-Personally Identifiable Information, aggregated, or -de-identified data:</p>
      <ul>
        <li>with analytics, search engine, or other service providers that help us improve our Services;</li>
        <li>with other Users or prospective Users of the Services;</li>
        <li>to advertisers and advertising networks to select and serve relevant advertisements; and</li>
        <li>with any other party for the purposes described in this Policy.</li>
      </ul>
      <h3 class="hdln-e">COOKIES AND BEACONS</h3>
      <p>We may use cookies, beacons and similar technologies, now or in the future, to support the functionality of our
        Services and to identify you when you visit or access the Services. This provides a better experience when you
        visit our App or Website and allows us to improve our Services. Exerwise or third parties may use cookies and
        similar technologies to identify you across different websites or apps and to better market Exerwise or
        third-party products or services to you, in compliance with applicable law.</p>
      <p><u>Browser Cookies</u>. A browser cookie is a small file placed on the hard drive of your computer. That cookie
        then communicates with servers, ours or those of other companies that we authorize to collect data for us, and
        allows recognition of your personal computer. We associate cookies with Personally Identifiable Information only
        if you use the automatic recognition capabilities on restricted areas of the Services, view content, use the
        personalization services available as part of the Services, or ask us to contact you with additional marketing
        information. We do not otherwise collect Personally Identifiable Information from browser cookies and we do not
        associate browser cookies with your Personally Identifiable Information.</p>
      <p>You may use the tools available on your computer or other device to set your browser to refuse or disable all
        or some browser cookies, or to alert you when cookies are being set. However, if you refuse or disable all
        browser cookies, you may be unable to access certain parts or use certain features or functionality of our
        Services.</p>
      <p>You may choose whether to activate automatic recognition when you register for an account. After registration,
        you may disable the persistent cookie that supports recognition using the tools in your browser. If you choose
        to disable the cookies that support automatic recognition, you will need to re-enter your User ID and password
        each time you access a gated portion of the Services.</p>
      <p>Unless you have adjusted your browser settings so that it refuses all cookies, we may use cookies when you
        direct your browser to our Services.</p>
      <p><u>Flash Cookies</u>. Certain features of our Services may use local stored objects called flash cookies to
        collect and store information about your preferences and navigation to, from and on our Services. We also
        include cookies in our third-party hosted video players to count the number of unique viewers who see a video
        and to provide aggregate reporting. The cookies do not identify you as an individual or track your online
        behavior. We do not collect Personally Identifiable Information from flash cookies and we will not associate
        them with your Personally Identifiable Information.</p>
      <p>Flash cookies are not managed by the same browser settings as are used for browser cookies. To learn how you
        can manage your Flash cookie settings, visit the Flash player settings page on Adobe's website. If you disable
        or refuse Flash cookies, please note that some parts of our Services may be inaccessible or may not function
        properly.</p>
      <p>Our Services and e-mails may contain small electronic files known as beacons (also referred to as web beacons,
        clear GIFs, pixel tags and single-pixel GIFs) that permit us to, for example, count Users who have visited those
        pages or opened an e-mail and for other website-related statistics. Beacons in e-mail marketing campaigns allow
        us to track your responses and your interests in our content, offerings and web pages. You may use the tools in
        your device to disable these technologies as well.</p>
      <h3 class="hdln-e">YOUR CHOICES</h3>
      <p>You may have the opportunity to receive certain communications from us related to our Services. If you provide
        us with your e-mail address in order to receive communications, you can opt out of marketing e-mails at any time
        by following the instructions at the bottom of our e-mails and adjusting your e-mail preferences. Please note
        that certain e-mails may be necessary for the operation of our Services. You will continue to receive these
        e-mails, if appropriate, even if you unsubscribe from our optional communications.</p>
      <p>Certain websites you visit may provide options regarding advertisements you receive. For more information or to
        opt out of certain online behavioral advertising, please visit http://www.aboutads.info.</p>
      <p>Some browsers support a “Do Not Track” feature, which is intended to be a signal to websites that you do not
        wish to be tracked across different websites you visit. Our Services do not currently change the way they
        operate based upon detection of a Do Not Track or similar signal.</p>
      <p>Please note that we cannot control how third-party websites or online services you visit through our Services
        respond to Do Not Track signals. Check the privacy policies of those third parties for information on their
        privacy practices.</p>
      <p>You may opt out of our direct telemarketing contacts by requesting us to remove you from our direct
        telemarketing list. Please note that opting out from our direct telemarketing contacts does not limit us from
        contacting you for other purposes, including those contacts that are reasonably necessary to provide you with
        our Services. If you decide to opt out of our direct telemarketing contacts, allow a reasonable time for us to
        process your request, and do not hesitate to contact us at <a
           href="mailto:sagarthapa811@gmail.com">sagarthapa811@gmail.com</a> if you encounter any problems with your
        request. We also comply with the FTC’s National Do Not Call Registry at www.donotcall.gov/register/reg.aspx and
        related rules.</p>
      <p>The accuracy of the information we have about you is very important. Users may update their information at any
        time on the account registration page. Otherwise, to review or correct your Personally Identifiable Information,
        you may contact us at <a href="mailto:sagarthapa811@gmail.com">sagarthapa811@gmail.com</a>.</p>
      <h3 class="hdln-e">SECURING YOUR INFORMATION</h3>
      <p>The security of your information is important to Exerwise, and we have established reasonable administrative,
        technical, and physical safeguards designed to protect Personally Identifiable Information against loss,
        alteration, unauthorized access, theft, misuse or disclosure. Unfortunately, no system can guarantee complete
        security of your information. As a result, Exerwise cannot ensure or warrant the your information, including
        your Personally Identifiable Information, is secure from unauthorized third parties. Thus, your use of the
        Services and communication with us about them is at your own risk.</p>
      <p>You are responsible for protecting your User ID(s) and password(s) and for the security of information that you
        transmit to us over the internet.</p>
      <h3 class="hdln-e">CHILDREN</h3>
      <p>Our Services is directed to, and is intended for use only by persons who are 18 years of age or older. We do
        not knowingly collect information from children under 18. If you are under 18 years of age, you are not
        permitted to register for an account or otherwise submit any personally identifiable information to us,
        including your name, address or e-mail address. If we discover that we have collected any personally
        identifiable information from a child under the age of 18, we will suspend the associated account and remove
        that information from our database as soon as possible. By registering for an account or submitting any
        personally identifiable information to us, you represent and warrant that you are 18 years of age or older.</p>
      <h3 class="hdln-e">LINKS TO THIRD-PARTY SITES</h3>
      <p>Our Services may contain links to third-party websites and services, including those of our partners and
        advertisers. Please note that these websites and services may have their own privacy policies. This Privacy
        Policy applies to Exerwise and our Services only. We do not accept any responsibility or liability for the
        policies or practices of any third parties. If you chose to access any websites or services linked from our
        Services, please check the applicable policies before you use or submit any personal data to such website or
        service.</p>
      <h3 class="hdln-e">INTERPRETATION</h3>
      <!-- <p>Your use of our Services may be governed by our Terms and Conditions (located at <a
           href="https://signup.Exerwise-health.com/static/us/terms/index.html">https://signup.Exerwise-health.com/static/us/terms/index.html</a>)
        the supplemental terms that govern certain of the features, functionality, tools, content and promotions
        available on or through the Services (the "Supplemental Terms"). In the event that the provisions of any such
        agreement that are specific to a particular Website or App differ from or conflict with the provisions of this
        Privacy Policy, the terms specific to that Website or App will apply.</p>
      <h3 class="hdln-e">CHANGES TO OUR PRIVACY POLICY</h3> -->
      <p>We may change this Privacy Policy from time to time to align with changes to our business practices and/or
        changes to our legal requirements. We will post the updated Privacy Policy on this page, and will indicate that
        the updates have been made by changing the effective date first written above. We urge you to check back
        periodically to check whether there have been updates to our Privacy Policy.</p>
      <p>Your continued use of the Services or communication with us after the updated Privacy Policy has been posted
        (or any other indication of your consent) will constitute your acceptance of the updated Privacy Policy.</p>
      <p>Please note that we may condition your continued access to our Services on your consent to changes to this
        Privacy Policy.</p>
      <h3 class="hdln-e">CONTACT</h3>
      <p>If you have questions, comments or requests relating to this Privacy Policy, or would like to authorize us to
        release your information to a specific third party or rescind a previous request, please e-mail us at <a
           href="mailto:sagarthapa811@gmail.com">sagarthapa811@gmail.com</a>, or write to us at:</p>
      <h4 class="cpy-b">Privacy Requests</h4>
      <p>
        sagarthapa811@gmail.com
      </p>
    </div>
  </div>
  <div>
    <h1 class="headline">Privacy Statement for our Apps (EU and non-US countries)</h1>
    <p>
      This Privacy Policy explains nature, scope, and purpose of the processing of personal data (hereinafter: "Data")
      in connection with the operation of our app.
    </p>
    <h2>Controller</h2>
    <p>
      <br> E-Mail: <a href="sagarthapa811@gmail.com">info@exerwise.com</a>
    </p>

    <h3>Contact Data Protection Officer:</h3>
    <!-- @*<p>
      PROLIANCE GmbH / <a href="https://www.datenschutzexperte.de">www.datenschutzexperte.de</a><br>
      Data Protection Officer<br>
      Leopoldstr. 21<br>
      80802 Munich<br>
      E-Mail: <a
         href="mailto:datenschutzbeauftragter@datenschutzexperte.de">datenschutzbeauftragter@datenschutzexperte.de</a>
    </p>*@ -->
    <p>
      If you have questions about our privacy policy, processing in general, or the processing of your data, please
      contact us as above.
    </p>
    <h2>Definitions</h2>
    <p>
      Terms such as "personal data," "processing," "pseudonymisation," "profiling," "controller," "processor" as well as
      any other terms according to Art. 4 GDPR have the same meaning as defined in the GDPR.
    </p>
    <h2>Legal basis for processing</h2>
    <p>
      When processing your personal data in the context of the purposes set out in this Policy, we may, depending on the
      circumstances, rely on one or more of the following legal bases:
    </p>
    <ul>
      <li>
        We have previously obtained your explicit consent to processing (this legal basis will be used only in relation
        to processing that is entirely voluntary - it will not be used for processing that is in any way necessary or
        compulsory);
      </li>
      <li>
        The processing is necessary in connection with a contract you conclude with us;
      </li>
      <li>
        The processing is required by law;
      </li>
      <li>
        The processing is necessary to protect the vital interests of a person; or
      </li>
      <li>
        We have a legitimate interest in carrying out the processing for the purpose of managing, operating, or
        promoting our business and this legitimate interest will not be invalidated by your interests, fundamental
        rights, or freedoms.
      </li>
    </ul>
    <h2>Types of processed personal data</h2>
    <ul>
      <li>User data (e.g. names, addresses).</li>
      <li>
        Contact data (e.g. e-mail, phone numbers).
      </li>
      <li>
        Content data (e.g. text entries, photos, videos).
      </li>
      <li>
        Usage data (e.g. visited websites, interest in content, access times).
      </li>
      <li>
        Meta/communication data (e.g. device information, IP addresses, browsing history in app).
      </li>
      <li>
        Payment data (payment processing of the subscription).
      </li>
    </ul>
    <h3>Special categories of personal data processed</h3>
    <p>
      Health data, processing based on Art 9 (2) (a) GDPR consent.
    </p>
    <h3>Categories of data subjects</h3>
    <p>
      Visitors and users of the app (hereinafter, data subjects in general will also be called "Users").
    </p>
    <h2>Purpose of processing</h2>
    <ul>
      <li>
        Create an account in the app.
      </li>
      <li>
        Provision of the app as well as the respective functions and contents.
      </li>
      <li>
        Answering contact inquiries and communication with users.
      </li>
      <li>
        Range measurement/marketing.
      </li>
      <li>
        Security measures.
      </li>
      <li>
        Processing of the payment for the product.
      </li>
      <li>
        Answering support requests.
      </li>
      <li>
        Establishment, execution and termination of purchase or service contracts.
      </li>
      <li>
        Internal anonymous aggregated studies.
      </li>
    </ul>
    <h3>Processing of special personal data</h3>
    <ul>
      <li>
        We will not attempt to collect or otherwise process your special personal information except when:
      </li>
      <li>
        The processing is required or permitted by law (e.g. to fulfill our reporting obligations on diversity);
      </li>
      <li>
        The processing is necessary for the detection or prevention of crime (including the prevention of fraud, money
        laundering, and terrorist financing);
      </li>
      <li>
        The processing is necessary to establish, exercise, or defend rights; or
      </li>
      <li>
        We have previously, in accordance with applicable law, obtained your explicit consent to processing (as
        mentioned above, this legal basis is used only in relation to processing that is entirely voluntary - it is not
        used for processing that is in any
        way necessary or compulsory).
      </li>
    </ul>
    <!-- @*<h3>Special categories of personal data are processed in detail</h3>
    <ul>
      <li>
        To adapt the therapy to the patient.
      </li>
      <li>
        To remind the patient to carry out the therapy.
      </li>
      <li>
        To store the progress within the therapy.
      </li>
      <li>
        Individualization of the therapy.
      </li>
      <li>
        Improvement of the product.
      </li>
    </ul>*@ -->
    <h2>Sources of data collection</h2>
    <p>
      All data is collected directly from the end user about the use of the app. When filling data at end of an
      exercise, this information is transmitted to the Exerwise server via an encrypted TLS connection and stored in an
      appropriately
      secured database.
    </p>
    <h3>Exerwise App</h3>
    <p>
      This app includes the functionality of video recording a user‘s exercise sessions. This feature will only be
      enabled after getting explicit consent from the user immediately before an exercise session by means of a
      dedicated screen (Art. 6 (1) lit.
      a) and Art. 9 (2) lit. a) DSG-VO). The video recording will automatically end with the exercise session. The
      recording can be stopped at any time by cancelling the exercise session. If you decide to allow the recording,
      please ensure that no other persons are visible in the camera frame or those persons also consent to this
      agreement.
    </p>

    <p>The video recordings will be processed to improve the functionality of the app. In particular, the following
      processing steps will occur:</p>

    <ul>
      <li>Review of the recordings and annotation of exercise state, movement characteristics, body pose, other body
        features, as well as environmental factors that might have an impact on body detection. Review and annotation is
        performed by individual employees as well as our official sub-processors in terms of Art. 28 GDPR.</li>
      <li>Training of Machine Learning models for automatic detection of exercise state, movement characteristics, body
        pose, environmental factors, as well as other medical factors by connecting the video records to data collected
        within the app.</li>
    </ul>

    <p>We will save the video recordings for the duration of 3 years, we will not share the data with third parties, and
      we aim to anonymize the data as soon as possible. The data will be transferred to us in an encrypted way.</p>

    <h2>Further information about the app</h2>
    <p>
      Finally, our app can use push notifications to send you notifications.
    </p>
    <!-- @*<p>
      When you use the app for the first time, you will be asked if you want to activate these functions in your
      settings menu. If you do not enable or later disable these features, you may not be able to take full advantage of
      the app.
    </p>*@ -->
    <p>
      The information you provide when setting up your account in the app may include your name, user name, email
      address, gender, country of residence, telephone number, payment data and details of your condition. When you
      register for an account with us,
      you also have a unique password with which you can access your account.
    </p>

    <h2>Security measures</h2>
    <p>
      We have taken appropriate technical and organizational security measures in accordance with Art. 32 GDPR, taking
      into account the state of technology, implementation costs as well as nature, scope, circumstances and purposes of
      the processing and the
      different likelihood and severity of any risks to the rights and freedoms of natural persons, to protect your
      personal data against unintentional or unlawful destruction, loss, alteration, unauthorized disclosure,
      unauthorized access, and any
      other unlawful or unauthorized forms of processing under applicable law.
    </p>
    <p>
      Such measures include in particular, ensuring confidentiality, integrity and availability of data by controlling
      physical access to the data, as well as the relevant access, input, disclosure, security of availability and its
      separation. In addition,
      we have established procedures that ensure the exercise of the rights of data subjects, deletion of data and
      reaction to data risks. In addition, we take into account the protection of personal data when developing or
      selecting the hardware, software
      and procedures in line with the principle of data protection through technology design and data
      protection-friendly presettings (Art. 25 GDPR).
    </p>
    <h2>Cooperation with processors and third parties</h2>
    <p>
      If, in the course of our processing, we disclose data to other persons and companies (processors or third
      parties), transmit data to them or otherwise grant them access to the data, this shall only take place on the
      basis of a legal permission, if you
      have given consent, if this is required by law or based on our legitimate interests (e.g. when involving third
      parties to host the servers, deliver e-mail contact forms as well as response to enquiries through the form).
    </p>
    <p>
      If we commission third parties with the processing of data based on a so-called "processing contract," this will
      be done on the basis of Art. 28 GDPR.
    </p>
    <h3>Transmission into third countries</h3>
    <p>
      If we process data in a third country (i.e. outside the European Union (EU) or the European Economic Area (EEA))
      or if this occurs in the context of using third-party services or disclosure or transmission of data to third
      parties, this will only be done
      to fulfill our (pre-)contractual obligations, based on your consent (with corresponding precise information and
      specifying those third countries), if required by law or based on our legitimate interests. Subject to legal or
      contractual permissions,
      we process or have the data processed in a third country only if the special requirements of Art. 44 et seq. GDPR
      are fulfiled. This means that the processing is carried out e.g. on the basis of specific guarantees, such as the
      officially recognized
      level of data protection corresponding to that of the EU (e.g. for the US through the 'Privacy Shield') or
      compliance with officially recognized special contractual obligations (so-called 'standard contractual clauses').
    </p>
    <p>
      Please note that the level of data protection of such third countries is lower than the level of protection of the
      European Union.
    </p>
    <h2>Rights of data subjects</h2>
    <p>
      You have the right to request confirmation as to whether relevant data are being processed and to request
      information about such data as well as further information and a copy of the data pursuant to Art. 15 GDPR.
    </p>
    <p>
      Pursuant to Art. 16 GDPR you have the right to request completion of the data concerning you or correction of any
      incorrect data concerning you.
    </p>
    <p>
      Pursuant to Art. 17 GDPR, you have the right to request that the relevant data will be deleted immediately or,
      alternatively, pursuant to Art. 18 GDPR, to request a restriction of the processing of data.
    </p>
    <p>
      You have the right to request provision of the data concerning you that you have provided to us pursuant to Art.
      20 GDPR and to request their transfer to other controllers.
    </p>
    <p>
      You also have the right to file a complaint with the competent supervisory authority pursuant to Art. 77 GDPR.
    </p>
    <!-- @*<h3>Contact – Bavarian Data Protection Authority</h3>
    <p>
      Bavarian Data Protection Authority (BayLDA)<br> Promenade 27<br> 91522 Ansbach, Germany
    </p>
    <p>
      Phone: +49 (0) 981 53 1300<br> Fax: +49 (0) 981 53 98 1300<br> E-Mail: <a
         href="mailto:poststelle@lda.bayern.de">poststelle@lda.bayern.de</a>
    </p>
    <p>
      Website: <a href="https://www.lda.bayern.de/de/kontakt.html">https://www.lda.bayern.de/de/kontakt.html</a>
    </p>*@
    <h3>Right to withdraw</h3> -->
    <p>
      If certain data processing is based on your consent, you have the right to withdraw your consent at any time
      pursuant to Art. 7 (3) GDPR with effect for the future. The withdrawal of consent shall not affect the lawfulness
      of processing based on consent
      before its withdrawal.
    </p>
    <h3>Right to object</h3>
    <p>
      You may object to the future processing of your data at any time pursuant to Art. 21 GDPR. Such objection may be
      made in particular against processing for direct marketing purposes (see also below).
    </p>
    <h3>Direct marketing</h3>
    <p>
      We use your information to communicate with you and to keep you informed about our activities and events and those
      of third parties in which you may be interested, and to make suggestions and recommendations to you and other
      users of our website and app
      about products or services that may interest you or them (direct marketing). Our goal is to send you only direct
      marketing directly related to the usage of the product. We provide this information to you by email (subject to
      your prior consent,
      if required by law), push notifications on our app, targeted ads on our app and third-party platforms, text,
      social media or telephone.
    </p>
    <h3>Cookies and right to object in case of direct marketing</h3>
    <p>
      'Cookies' are small files that are stored on the users' computers. Different types of information can be stored by
      such cookies. A cookie is primarily used to store the information about a user (or the device where the cookie is
      stored) during or after
      his/her visit to a website. Temporary cookies, or 'session cookies' or 'transient cookies' are cookies that are
      deleted after a user has left a website and closes his/her browser. Such a cookie may store e.g. the contents of a
      shopping cart in
      an online store or a login jam. Cookies are 'permanent' or 'persistent' if they remain stored even after the
      browser has been closed. For example, the login status can be saved if users visit again after several days.
      Similarly, such a cookie
      can also store the users' interests, which are used for range measurement or marketing purposes. 'Third-party
      cookie' refers to cookies that are offered by providers other than the person responsible for operating the
      website (otherwise, if only
      their cookies are used, they are called 'first-party cookies').
    </p>
    <p>
      We hereby explain in this Privacy Policy that we may use temporary and permanent cookies.
    </p>
    <p>
      If users do not want cookies stored on their computer, they are asked to disable the relevant option in their
      browser's system settings. Stored cookies can be deleted in the browser's system settings. However, the exclusion
      of cookies can lead to functional
      restrictions of this online offer.
    </p>
    <p>
      A general objection to the use of cookies used for online marketing purposes is possible for a variety of
      services, especially in the case of tracking, via the US website
      <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> or the EU site
      <a href="http://www.youronlinechoices.com/">www.youronlinechoices.com/</a>. Furthermore, the storage of cookies
      can be achieved by switching them off in the browser's settings. Please note that in this case it may not be
      possible to use all features
      of this online offer.
    </p>
    <h3>Deletion of data</h3>
    <p>
      The data processed by us will be deleted pursuant to Art. 17 and 18 GDPR or their processing will be restricted.
      Unless explicitly stated in this Privacy Policy, the data stored by us will be deleted once they are no longer
      required for their intended
      purpose and unless the deletion conflicts with any legal storage requirements. If the data are not deleted because
      they are required for other and legitimate purposes, their processing will be restricted. This means that the data
      will be blocked
      and not processed for any other purposes. This applies for example to data that must be kept for commercial or tax
      reasons.
    </p>
    <h2>Hosting</h2>
    <p>
      We use hosting services for the purpose of providing the following services: infrastructure and platform services,
      computing capacity, storage and database services, security services and technical maintenance services, which we
      use to operate this app.
    </p>
    <p>
      We or our hosting provider process user data, contact data, content data, contract data, usage data, meta and
      communication data of customers, interested parties and visitors to this app, based on our legitimate interests in
      the efficient and secure provision
      of this app pursuant to Art. 6 (1) (f) GDPR in conjunction with Art. 28 GDPR.
    </p>
    <h3>Collection of access data and log files</h3>
    <p>
      Based on our legitimate interests within the meaning of Art. 6 (1) (f) GDPR, we or our hosting provider collect
      data on every access to the server where this service is located (so-called server log files). Access data
      includes the name of the accessed
      website, file, date and time of access, amount of data transferred, notification about successful retrieval,
      browser type and version, the user's operating system, referrer URL (the previously visited page), IP address, and
      the requesting provider.
    </p>
    <p>
      Data that need to be retained further for evidence purposes are exempted from deletion until final clarification
      of the respective incident.
    </p>
    <h2>Contact</h2>
    <p>
      When contacting us (for example, by contact form, e-mail, telephone, or via social media), the user's information
      will be processed to process the contact request pursuant to Art. 6 (1) (b) GDPR. The user's information may be
      stored in a customer relationship
      management system ('CRM System') or a comparable request organization.
    </p>
    <p>
      We delete inquiries once they are no longer required. We check the necessity every two years; in addition, the
      legal archiving obligations apply.
    </p>
    <h2>Integration of services and contents of third parties</h2>
    <p>
      Based on our legitimate interests (i.e. interest in analysis, optimization and economic operation of our online
      offer within the meaning of Art. 6 (1) (f) GDPR), we use content or services offered by third-parties in our
      online offer in order to integrate
      their content and services, such as videos or fonts (hereinafter uniformly referred to as 'content').
    </p>
    <h3>
      Data collection by payment service providers based on our legitimate interests (i.e. interest in secure, efficient
      and practicable payment processing)
    </h3>
    <!-- @*<h4>PayPal</h4>
    <p>
      Exerwise uses the service of the payment service provider PayPal, which is operated by PayPal, PayPal (Europe) S.à
      r.l. &amp; Cie, S.C.A., 5th floor, 22-24 Boulevard Royal, L-2449, Luxembourg (hereinafter collectively "PayPal")
      to process payments or credits
      in the Exerwise apps. When using PayPal for payment in the Exerwise apps, personal data (in particular data
      concerning your PayPal account) is transmitted to PayPal. In addition, PayPal may collect personal information
      (such as credit card numbers) when
      you register with the PayPal app. PayPal is solely responsible for the processing of these data. Use of the PayPal
      service is fully subject to PayPal's Privacy Policy and Terms of Use. For details on PayPal's handling of your
      data and your rights
      and setting options to protect your personal data, please visit:
      <a
         href="https://www.paypal.com/de/cgi-bin/webscr?cmd=p/gen/ua/policy_privacy-outside">https://www.paypal.com/de/cgi-bin/webscr?cmd=p/gen/ua/policy_privacy-outside</a>.
    </p>
    <p>
      Please note that your contractual relationship with PayPal is independent of your contractual relationship with
      Exerwise.
    </p>
    <h4>Braintree</h4>
    <p>
      Exerwise uses the service of the payment service provider braintree. braintree is a company of PayPal, Inc. which
      processes credit card payments. Your personal data will only be passed on to "Braintree" for the purpose of
      processing the online order. The
      data protection regulations are identical to those of Paypal. Details on data protection at Braintree can be found
      here: <a
         href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full">https://www.paypal.com/us/webapps/mpp/ua/privacy-full</a>.
    </p>
    <h3>Overview of all third party service providers, purpose of transmission and information about data processing
      agreements in place</h3>*@

    @*<table class="tableizer-table">
      <thead>
        <tr class="tableizer-firstrow">
          <th>Data Controller</th>
          <th>BAA required and in place?</th>
          <th>DPA required and in place?</th>
          <th>Privacy shield required and in place?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><em>Hosting / Infrastructure</em></td>
        </tr>
        <tr>
          <td>Sentry</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Firebase Crashlytics/App Distribution</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Amazon Web Services</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Hetzner</td>
          <td>No</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td colspan="4"><em>Customer Support</em></td>
        </tr>
        <tr>
          <td>Google Gsuite</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Zendesk</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>SurveyMonkey</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>OnceHub</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td colspan="4"><em>Payment</em></td>
        </tr>
        <tr>
          <td>PayPal</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td colspan="4"><em>Product Improvement and Marketing Analytics</em></td>
        </tr>
        <tr>
          <td>Apptimize</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Adjust</td>
          <td>No</td>
          <td>Yes</td>
          <td>No</td>
        </tr>
        <tr>
          <td>CloudFactory</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>YouAppi</td>
          <td>No</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>Looker</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <td colspan="4"><em>Customer Communication</em></td>
        </tr>
        <tr>
          <td>Braze</td>
          <td>Yes</td>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>*@ -->




  </div>
</div>