.carousel-item{
    img{
        width: 20em;
        height: 40em;
    }
}
.jumbotron{
  background: #fff url('https://firebasestorage.googleapis.com/v0/b/exerwise-ca144.appspot.com/o/assets%2Fimages%2Fbg_app.jpg?alt=media&token=3be2420d-7b41-445b-83be-ba77b016512e') no-repeat center center / cover;
  color:#25386F;
  border-bottom{
      border-radius: 4em;
  } ;
}